<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>

<body>
    <div class="dark-box">
        <br>
        <br>
        <h1 id="titulo">inicio · SWAPi</h1>
        <br>
        <div class="container-box">
            <a href="" class="card personajes"></a>
            <a class="card films"></a>
            <a class="card species"></a>
            <a class="card starships"></a>
            <a class="card vehicles"></a>
            <a class="card planets"></a>
        </div>
    </div>
</body>

</html>