<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>

<body>
    <a routerLink="/credits" id="botonCreditosMenu">Credits</a>
    <br>
    <br>
    <h1 id="titulo">inicio · SWAPi</h1>
    <br>
    <div class="container-box">
        <a routerLink="/characters" class="card personajes">
            <div class="atext">
                characters
            </div>
        </a>
        <a routerLink="/films" class="card films">
            <div class="atext">
                films
            </div>
        </a>
        <a routerLink="/species" class="card species">
            <div class="atext">
                species
            </div>
        </a>
        <a routerLink="/starships" class="card starships">
            <div class="atext">
                starships
            </div>
        </a>
        <a routerLink="/vehicles" class="card vehicles">
            <div class="atext">
                vehicles
            </div>
        </a>
        <a routerLink="/planets" class="card planets">
            <div class="atext">
                planets
            </div>
        </a>
    </div>
</body>

</html>