<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div>
    <a routerLink="/inicio" id="botonCreditosMenu">Go back</a>
  </div>
  <p id="start">Hace poco tiempo, en una clase de Desarrollo de Interfaces&hellip;</p>

  <h1>STAR WARS<sub>Ejercicio SWAPI</sub></h1>

  <div id="titles">
    <div id="titlecontent">
      <p class="center">
        EPISODIO SWAPI II<br />
        A NEW HOPE FOR ANGULAR
      </p>

      <p>Un periodo de muchas horas libres.</p>

      <p>
        ¿Qué es esta página?
      </p>

      <p>
        ¿Tiene problemas para recordar nombres, pero eres excelente para recordar caras? Nosotros también. Es por eso
        que hemos creado
        esta aplicación web. Todo se basa en colocar el ratón sobre una tarjeta, por lo que si está interesado en ver
        todos los personajes de
        las películas de Star Wars, haga clic en la categoría de personajes. Después de eso, simplemente apunte a
        cualquier imagen para obtener más información sobre las características físicas de ese personaje, películas
        relacionadas, planetas, vehículos, etc.

      </p>

      <p>
        ¿Por qué hay información desconocida?
      </p>

      <p>
        Esta aplicación utiliza la API de Star Wars, por lo que la información que se muestra en esta aplicación se
        actualizará a medida que se actualice la API. Haremos otras actualizaciones aquí y allá, así que vuelva a
        consultar
        con frecuencia.
      </p>

      <p>
        ¿Has encontrado algún bug o una idea para mejorar?
      </p>

      <p>
        Me la pela, este ejercicio no esta pensado para ver como trabajamos el código, esta pensado para ver como
        trabajamos
        con el compañero, con git sobre todo. Si hay cualquier fallo es cosa del <a
          href="https://www.codepen.io">codepen.io</a>.
        De ahi hemos sacado la página de error 404 y esta página.
      </p>

      <p>
        Trabajo realizado por Antonio Montero y Víctor González para la asignatura de desarrollo de interfaces de 2ºDAM
        del
        colegio Salesianos de San Pedro.
      </p>

      <p>
        SALVE, DON BOSCO SANTO, JOVEN DE CORAZÓN.
        MIRA TODO EL QUEBRANTO DE UN MUNDO SIN AMOR.

        Juventudes que caminan sin saber adónde van,
        juventudes tan heridas: sin fe, sin paz, sin luz ni amor.
        Juan Bosco, oye nuestra voz.
        SALVE, DON BOSCO SANTO, JOVEN DE CORAZÓN.
        MIRA TODO EL QUEBRANTO DE UN MUNDO SIN AMOR.

        Si supieras cuántas veces nos trataron de vencer,
        si supieras cómo duele el ver crueldad, rencor, pasión.
        Juan Bosco, ven y ayúdanos.
        SALVE, DON BOSCO SANTO, JOVEN DE CORAZÓN.
        MIRA TODO EL QUEBRANTO DE UN MUNDO SIN AMOR.

        Ven a ver cómo luchamos con esfuerzo y decisión,
        ven a ver cómo tratamos de hacer cambiar el mundo de hoy
        Juan Bosco, ven y ayúdanos!
        SALVE, DON BOSCO SANTO, JOVEN DE CORAZÓN.
        MIRA TODO EL QUEBRANTO DE UN MUNDO SIN AMOR.
      </p>
    </div>
  </div>
</body>

</html>